

.mphb-calendar .mphb-datepicker-minimal.datepick,
.datepick-popup .mphb-datepicker-minimal.datepick {
	font-size: 90%;
	border: 0px solid;
	border-radius: 0;
	width: 31.429em;
	max-width: 100%;
	font-family: inherit;
}



.mphb-calendar .mphb-datepicker-minimal a,
.datepick-popup .mphb-datepicker-minimal a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mphb-calendar .mphb-datepicker-minimal *,
.datepick-popup .mphb-datepicker-minimal * {
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-nav, .mphb-calendar .mphb-datepicker-minimal .datepick-ctrl,
.datepick-popup .mphb-datepicker-minimal .datepick-nav,
.datepick-popup .mphb-datepicker-minimal .datepick-ctrl {
  font-size: inherit;
  font-weight: normal;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-nav,
.datepick-popup .mphb-datepicker-minimal .datepick-nav {
  display:none !important;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-nav a,
.datepick-popup .mphb-datepicker-minimal .datepick-nav a {
  color: #222222;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-nav a:hover,
.datepick-popup .mphb-datepicker-minimal .datepick-nav a:hover {
  background-color: #f5f5f5;
  color: #222222;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-nav a.datepick-disabled,
.datepick-popup .mphb-datepicker-minimal .datepick-nav a.datepick-disabled {
  cursor: not-allowed;
  color: #d0d0d0;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-nav a.datepick-disabled:hover,
.datepick-popup .mphb-datepicker-minimal .datepick-nav a.datepick-disabled:hover {
  background-color: #fff;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-ctrl,
.datepick-popup .mphb-datepicker-minimal .datepick-ctrl {
  border: 1px solid #e4e4e4;
  background-color: #fff;
  margin-top: -1px;
  position: relative;
}

@media screen and (min-width: 48em) {
  .mphb-calendar .mphb-datepicker-minimal .datepick-ctrl,
  .datepick-popup .mphb-datepicker-minimal .datepick-ctrl {
    border-top: 0px solid #e4e4e4;
  }

}

.mphb-calendar .mphb-datepicker-minimal .datepick-ctrl:before,
.datepick-popup .mphb-datepicker-minimal .datepick-ctrl:before {
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  bottom: 0;
  position: absolute;
  margin-left: -1px;
  border-left: 1px solid #e4e4e4;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-ctrl a,
.datepick-popup .mphb-datepicker-minimal .datepick-ctrl a {
  color: #222222;

}
.mphb-calendar .mphb-datepicker-minimal .datepick-ctrl .datepick-cmd:hover,
.datepick-popup .mphb-datepicker-minimal .datepick-ctrl .datepick-cmd:hover {
  background-color: #f5f5f5;
  color: #222222;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-ctrl .datepick-cmd,
.datepick-popup .mphb-datepicker-minimal .datepick-ctrl .datepick-cmd {
  width: 50%;

}

.mphb-calendar .mphb-datepicker-minimal a.datepick-cmd,
.datepick-popup .mphb-datepicker-minimal a.datepick-cmd {
  height: auto;
  line-height: 2.1em;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month-header,
.datepick-popup .mphb-datepicker-minimal .datepick-month-header {
  border-bottom:none !important;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month-header, .mphb-calendar .mphb-datepicker-minimal .datepick-month-header select, .mphb-calendar .mphb-datepicker-minimal .datepick-month-header input,
.datepick-popup .mphb-datepicker-minimal .datepick-month-header,
.datepick-popup .mphb-datepicker-minimal .datepick-month-header select,
.datepick-popup .mphb-datepicker-minimal .datepick-month-header input {
  height: auto;
  background-color: #fff;
  color: #000;
  font-weight: 800;
  font-size:18px;
  line-height: 2.1em;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month,
.datepick-popup .mphb-datepicker-minimal .datepick-month {
  width: 100%;
  border: none !important;
  border-top: none !important;
  padding-right: 1px;
}

@media screen and (min-width: 48em) {

  .mphb-calendar .mphb-datepicker-minimal .datepick-month,
  .datepick-popup .mphb-datepicker-minimal .datepick-month {
    width: 50%;
  }

}

@media screen and (min-width: 48em) {

  .mphb-calendar .mphb-datepicker-minimal .datepick-month:first-child .datepick-month-header,
  .datepick-popup .mphb-datepicker-minimal .datepick-month:first-child .datepick-month-header {
    margin-right: -1px;
  }

}

.mphb-calendar .mphb-datepicker-minimal .datepick-month + .datepick-month,
.datepick-popup .mphb-datepicker-minimal .datepick-month + .datepick-month {
  border-left: none !important;
  padding-right: 0;
  padding-left: 1px;
}

@media screen and (min-width: 48em) {

  .mphb-calendar .mphb-datepicker-minimal .datepick-month + .datepick-month,
  .datepick-popup .mphb-datepicker-minimal .datepick-month + .datepick-month {
    border-left: 1px solid #fff;
  }

}

@media screen and (min-width: 48em) {

  .mphb-calendar .mphb-datepicker-minimal .datepick-month + .datepick-month .datepick-month-header,
  .datepick-popup .mphb-datepicker-minimal .datepick-month + .datepick-month .datepick-month-header {
    margin-left: -2px;
  }

}

.mphb-calendar .mphb-datepicker-minimal .datepick-month table,
.datepick-popup .mphb-datepicker-minimal .datepick-month table {
  margin: 0 auto;
  width: 100%;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month tbody,
.datepick-popup .mphb-datepicker-minimal .datepick-month tbody {
  line-height: 2.1em;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month th,
.datepick-popup .mphb-datepicker-minimal .datepick-month th {
  border:none !important;
  border-bottom: 1px solid #dfdfdf !important;
  font-size: 80%;
  font-weight: bold;
  padding: 0.5em 0;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month th,
.mphb-calendar .mphb-datepicker-minimal .datepick-month th a,
.datepick-popup .mphb-datepicker-minimal .datepick-month th,
.datepick-popup .mphb-datepicker-minimal .datepick-month th a {
  background-color: #fff;
  color: #c8c9cc;
  font-size:12px;
  font-weight:700;
  text-align:center;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month td,
.datepick-popup .mphb-datepicker-minimal .datepick-month td {
  background-color: #fff;
  border: 1px solid #fff;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month td a, .mphb-calendar .mphb-datepicker-minimal .datepick-month td span,
.datepick-popup .mphb-datepicker-minimal .datepick-month td a,
.datepick-popup .mphb-datepicker-minimal .datepick-month td span {
  border-radius: 100%;
  max-width: 2.143em;
  margin: 0 auto;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month a,
.datepick-popup .mphb-datepicker-minimal .datepick-month a {
  padding: 0;
  background-color: #fff;
  color: #4e4e4e;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month span,
.datepick-popup .mphb-datepicker-minimal .datepick-month span {
  padding: 0;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month td span,
.datepick-popup .mphb-datepicker-minimal .datepick-month td span {
  color: #d0d0d0;
}

.mphb-calendar .mphb-datepicker-minimal .datepick-month td .datepick-weekend,
.datepick-popup .mphb-datepicker-minimal .datepick-month td .datepick-weekend {
  background-color: #fff;
}

.mphb-calendar .mphb-datepicker-minimal a,
.datepick-popup .mphb-datepicker-minimal a {
  -moz-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-available-date {
	font-weight:700;
	font-size:13px;
	background-color: #fff;
	color: #111;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-available-date.mphb-date-check-out {
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #fff 50%, #fff 100%);
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-not-stay-in-date:not(.mphb-past-date),
.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-not-available-date,
.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .mphb-not-stay-in-date:not(.mphb-past-date),
.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .mphb-not-available-date {
  background-color: #fff;
  color: #b2b2b2;
  text-decoration: line-through;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-past-date,
.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .mphb-past-date {
  opacity: 1;
  background-color: #fff;
  color: #d0d0d0;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-earlier-min-date,
.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-later-max-date,
.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .mphb-earlier-min-date,
.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .mphb-later-max-date {
  background-color: #fff;
  color: #b2b2b2;
  text-decoration: line-through;
  opacity: 1;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .datepick-selected,
.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .datepick-selected {
  background-color: #222222;
  color: #fff;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-booked-date,
.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .mphb-booked-date {
  opacity: 1;
}

.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .datepick-today {
  background-color: #fff;
  font-weight: bold;
  color: #222222;
}

.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td .mphb-booked-date:not(.mphb-selectable-date) {
  background-color: #fff;
  color: #b2b2b2;
  text-decoration: line-through;
}

.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup .datepick-month td a.datepick-highlight {
  background-color: #222222;
  color: #fff;
}

.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup.mphb-check-in-datepick .datepick-month td .mphb-not-check-in-date:not(.mphb-past-date) {
  background-color: #fff;
  color: #b2b2b2;
  text-decoration: line-through;
}

.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup.mphb-check-out-datepick .datepick-month td .mphb-not-check-out-date:not(.mphb-past-date) {
  background-color: #fff;
  color: #b2b2b2;
  text-decoration: line-through;
}

.datepick-popup .mphb-datepicker-minimal.mphb-datepick-popup.mphb-check-out-datepick .datepick-month td span.mphb-check-in-date:not(.mphb-past-date) {
  background-color: #888888;
  color: #fff;
  text-decoration: none;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-booked-date {
  background-color: #fde2e2 !important;
  color: #dfdfdf;
  text-decoration: line-through;
  width:100% !important;
  height:100% !important;
  position:relative !important;
  top:0 !important;
  bottom:0 !important;
  left:0 !important;
  right:0 !important;
  margin:0 !important;
  display:block !important;
  border-radius:0px !important;
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-booked-date.mphb-date-check-in {
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #fff 50%, #fff 100%);
}

.mphb-calendar.mphb-datepick .mphb-datepicker-minimal .datepick-month td .mphb-booked-date.mphb-date-check-in.mphb-date-check-out {
  background: #fff;
}

.datepick-popup {
  max-width: 100%;
  padding: 0 1em;
}

@media screen and (min-width: 48em) {
  .datepick-popup {
    padding: 0;
  }
}
.mphb-calendar .mphb-datepicker-grayscale{
			/*float:left !important;*/
			width:100% !important;
			margin-left:0 !important;
			}
		
		.datepick-popup{
			position:absolute !important;
			/*top:470px !important;*/
			left:50% !important;
			transform: translate(-50%, 0) !important;
			/*margin-top:70px !important;*/
			width:90% !important;
			max-width:640px !important;
			z-index:999999999 !important;
			}
			
		.post-type-archive-mphb_room_type .datepick-popup,
		.term-posebna-ponuda .datepick-popup{
			position:absolute !important;
			top:560px !important;
			margin-top:215px !important;
			left:30% !important;
			transform: translate(-50%, 0) !important;
			z-index:999999999 !important;
			}
			
		.tax-mphb_ra_grad .datepick-popup,
		.tax-mphb_room_type_category .datepick-popup,
		.page-template-page-rooms-loop .datepick-popup{
			position:absolute !important;
			top:365px !important;
			margin-top:215px !important;
			left:30% !important;
			transform: translate(-50%, 0) !important;
			z-index:999999999 !important;
			}
			
		.tax-mphb_ra_karakteristika .datepick-popup{
			left:30% !important;
			}
		
		
		.datepick-popup .mphb-datepicker-grayscale{
			width:100% !important;
			max-width:638px !important;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale.datepick{
			position:relative;
			width:31.429em;
			max-width:100%;
			font-family:inherit;
			font-size:90%;
			border-radius:0;
			z-index:1;
			}
		
		.datepick-popup .mphb-datepicker-grayscale.datepick{
			position:relative;
			width:31.429em;
			max-width:100%;
			padding:15px 25px;
			font-family:inherit;
			font-size:90%;
			border:solid 1px rgba(175,175,175,.41);
			box-shadow:0 38px 41px 0 rgba(0,0,0,.24);
			z-index:1;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale a,
		.datepick-popup .mphb-datepicker-grayscale a{
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
			box-shadow:none;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale *,
		.datepick-popup .mphb-datepicker-grayscale * {
			outline: none;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav,
		.mphb-calendar .mphb-datepicker-grayscale .datepick-ctrl,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav,
		.datepick-popup .mphb-datepicker-grayscale .datepick-ctrl{
			font-size:inherit;
			font-weight:normal;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav{
			position:absolute;
			top:0;
			left:0;
			right:0;
			background:none;
			z-index:2;
			}
				
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav a,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a{
			width:39px !important;
			height:39px !important;
			line-height:39px !important;
			padding:0 !important;
			border-radius:39px !important;
			text-align:center;
			background-color:#f6f6f6;
			color:#deaf69;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav a:hover,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a:hover{
			background-color:#eeeded;
			color:#111;
			}
			
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-today,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-today{display:none !important;}
			
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-today,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-today{}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-prev,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-prev{
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-next,
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-next{
			}
			
		
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-prev{
			margin-top:15px;
			margin-left:25px;
			}
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-cmd-next{
			margin-top:15px;
			margin-right:25px;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-nav a.datepick-disabled, .mphb-calendar .mphb-datepicker-grayscale .datepick-nav a.datepick-disabled:hover
		.datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-disabled, .datepick-popup .mphb-datepicker-grayscale .datepick-nav a.datepick-disabled:hover{
			background-color:#f6f6f6 !important;
			color:#deaf69 !important;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-ctrl,
		.datepick-popup .mphb-datepicker-grayscale .datepick-ctrl{
			display:none !important;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale a.datepick-cmd,
		.datepick-popup .mphb-datepicker-grayscale a.datepick-cmd{
			height:auto;
			line-height:2.1em;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month-header,
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month-header select,
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month-header input,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month-header,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month-header select,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month-header input{
			height:auto;
			background-color:#fff;
			color:#000;
			font-size:16px;
			font-weight:700;
			line-height:2.1em;
			text-align:center;
			}
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month-header select, .mphb-calendar .mphb-datepicker-grayscale .datepick-month-header select:focus,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month-header select, .datepick-popup .mphb-datepicker-grayscale .datepick-month-header select:focus{
			display:block !important;
			float:left !important;
			width:50% !important;
			margin:0 !important;
			padding:0 !important;
			border:none !important;
			outline:none !important;
			cursor:text !important;
			box-shadow:none !important;
			}		
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month-header select.datepick-month-year,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month-header select.datepick-month-year{
			text-align:left !important;
			width:50px !important;
			}
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month-header select.datepick-month-year:first-child,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month-header select.datepick-month-year:first-child{
			text-align:right !important;
			padding-left:55px !important;
			width:150px !important;
			}
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month-header select option,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month-header select option{
			display:none !important;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month{
			width:100%;
			border:none !important;
			padding:0 50px 0 0 !important;
			}
		
		.datepick-popup .mphb-datepicker-grayscale .datepick-month{
			width:100%;
			border:none !important;
			padding:0 13px 0 0 !important;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month.last,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month.last{
			border-top:none !important;
			padding:0 0 0 13px !important;
			}
		
		@media screen and (min-width: 48em) {
			.mphb-calendar .mphb-datepicker-grayscale .datepick-month,
			.datepick-popup .mphb-datepicker-grayscale .datepick-month{
				width:50%;
				padding-right:1px;
				}
			
			.mphb-calendar .mphb-datepicker-grayscale .datepick-month.last,
			.datepick-popup .mphb-datepicker-grayscale .datepick-month.last{
				border-top:none !important;
				}
		}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month .datepick-month-header,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month .datepick-month-header{
			margin-right:5px !important;
			}
		
		@media screen and (min-width: 48em) {
			.mphb-calendar .mphb-datepicker-grayscale .datepick-month + .datepick-month,
			.datepick-popup .mphb-datepicker-grayscale .datepick-month + .datepick-month{
				border-left:none !important;
				padding-right:0;
				}
		}
		
		@media screen and (min-width: 48em) {
			.mphb-calendar .mphb-datepicker-grayscale .datepick-month + .datepick-month .datepick-month-header,
			.datepick-popup .mphb-datepicker-grayscale .datepick-month + .datepick-month .datepick-month-header{
				margin-right:0;
				margin-left:-2px;
				}
		}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month table,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month table{
			margin:0 auto;
			width:100%;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month tbody,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month tbody{
			line-height:2.1em;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month th,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month th{
			border:none !important;
			font-size:80%;
			font-weight:bold;
			padding:0 0;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month th,
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month th a,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month th,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month th a{
			background-color:#fff;
			color:#acacac;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month td,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month td{
			background-color:#fff;
			border:none !important;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month a,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month a{
			padding:0;
			background-color:#fff;
			color:#363636;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month span,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month span,
		.datepick-popup .mphb-datepicker-grayscale tr td a,
		.datepick-popup .mphb-datepicker-grayscale tr td span{
			display:block !important;
			width:40px !important;
			height:40px !important;
			line-height:40px !important;
			text-align:center !important;
			padding:0 !important;
			margin-top:4px !important;
			}
			
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month span.datepick-other-month,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month span.datepick-other-month{
			height:0 !important;
			line-height:0 !important;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month td span,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month td span{
			color:#acacac;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale .datepick-month td .datepick-weekend,
		.datepick-popup .mphb-datepicker-grayscale .datepick-month td .datepick-weekend{
			background-color:#fff;
			}
		
		.mphb-calendar .mphb-datepicker-grayscale a,
		.datepick-popup .mphb-datepicker-grayscale a{
			-moz-transition:background 0.3s, color 0.3s;
			-o-transition:background 0.3s, color 0.3s;
			-webkit-transition:background 0.3s, color 0.3s;
			transition:background 0.3s, color 0.3s;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-available-date{
            font-weight: 800;
			background-color:#ffffff;
			color:#363636;
			}
		
		/*
        .mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-available-date.mphb-date-check-out{
			background:linear-gradient(to bottom right, #fde2e2 !important 0%, #fde2e2 !important 50%, #c1eed1 50%, #c1eed1 100%);
			}
        */
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-available-date.mphb-date-check-out{
            font-weight: 800;
			background:#ffffff !important;
			color:#363636;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-not-stay-in-date:not(.mphb-past-date),
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-not-available-date,
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-not-stay-in-date:not(.mphb-past-date),
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-not-available-date{
			background-color:#fff;
			color:#cccccc;
			text-decoration:line-through;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-past-date,
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-past-date{
			opacity: 1;
			background-color:#fff;
			color:#acacac;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-earlier-min-date,
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-later-max-date,
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-earlier-min-date,
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-later-max-date{
			background-color:#fff;
			color:#cccccc;
			text-decoration:line-through;
			opacity:1;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .datepick-selected,
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .datepick-selected{
			background-color:#363636;
			color:#fff;
			}
			
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .datepick-selected{
			border-radius:0 !important;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-booked-date,
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-booked-date{
			opacity: 1;
			}
		
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .datepick-today{
			background-color:#fff;
			color:#363636;
			font-weight:400;
			}
		
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-booked-date:not(.mphb-selectable-date),
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td .mphb-unselectable-date.datepick-today{
			background-color:#fff;
			color:#cccccc;
			text-decoration:line-through;
			}
		
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup .datepick-month td a.datepick-highlight{
			background-color:#363636;
			color: #fff;
			}
		
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup.mphb-check-in-datepick .datepick-month td .mphb-not-check-in-date:not(.mphb-past-date){
			background-color:#fff;
			color:#cccccc;
			text-decoration:line-through;
			}
		
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup.mphb-check-out-datepick .datepick-month td .mphb-not-check-out-date:not(.mphb-past-date){
			background-color:#fff;
			color:#cccccc;
			text-decoration:line-through;
			}
		
		.datepick-popup .mphb-datepicker-grayscale.mphb-datepick-popup.mphb-check-out-datepick .datepick-month td span.mphb-check-in-date:not(.mphb-past-date){
			background-color:#363636;
			color:#fff;
			text-decoration:none;
			border-radius:0;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-booked-date{
			background:rgba(255,86,86,.27) !important;
			color:#363636;
			text-decoration:none;
			}
		/*
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-booked-date.mphb-date-check-in{
			background: linear-gradient(to bottom right, #c1eed1 0%, #c1eed1 50%, #fde2e2 !important 50%, #fde2e2 !important 100%);
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-booked-date.mphb-date-check-in.mphb-date-check-out{
			background: #fde2e2 !important;
			}
		*/
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-booked-date.mphb-date-check-in{
			background:rgba(255,86,86,.27) !important;
			color:#aaa;
            text-decoration:line-through;
			}
		
		.mphb-calendar.mphb-datepick .mphb-datepicker-grayscale .datepick-month td .mphb-booked-date.mphb-date-check-in.mphb-date-check-out{
			background:rgba(255,86,86,.27) !important;
			color:#aaa;
            text-decoration:line-through;
			}

		.datepick-popup{
			max-width:100%;
			padding:0 1em;
			}
		
		@media screen and (min-width: 48em) {
			.datepick-popup{
				padding: 0;
				}
		}
		
		.mphb-calendar .mphb-datepicker-grayscale thead,
		.datepick-popup .mphb-datepicker-grayscale thead{
			border-bottom:1px solid #f1f1f1 !important;
			}
		/* // calendar */